:root{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* Añadimos la imagen de fondo en el body */
    background-image: url(../img/fondo.jpg);
    /* Para que no se repita de imagen bucle */
    background-repeat: no-repeat;
    /* Escala la imagen a las dimensiones que hay en la pantalla */
    background-size: cover;
}

.contenedor{
    height: auto;
    width: auto;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    /* Sirve para alinear los elementos uno al lado del otro en un orden */
    display: flex;
    /* Espacio que dejamos con respecto al elemento que tenemos arriba */
    padding-top: 0.5em;
    /* Se alinean todos los elementos div hijos que tenemos dentro de esta clase */
    align-items: center;
    /* Tamaño de la letra (se le da en %, px, o valores predetermiandos) en este caso x-large*/
    font-size: x-large;
}

.opciones_menu{
    display: flex;
    padding-top: 1em;
    padding-left: 1em;
    
}

.idiomas{
    display: flex;
    padding-top: 1em;
    padding-left: 5em;
}

.inicio_sesion{
    display: flex;
    padding-top: 1em;
    padding-left: 1em;
}

a{
    display: flex;
    padding: 5px;
    /* Tipografia de la letra */
    font: menu;
    /* Tamaño de la letra */
    font-size: medium;
}